.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: repeat(2, 150px);

  grid-template-columns: repeat(3, 1fr);

  grid-gap: 30px;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  &--1 {
    background-color: red;
    
  }
  &--2 {
    background-color: green;
   
  }
  &--3 {
    background-color: pink;
    
  }
  &--4 {
    background-color: blue;
  }
  &--5 {
    background-color: violet;
    
    
  }
  &--6 {
    background-color: orange;
    
  }
}
